++++
<style>

.inline {
    display: inline-block;
}

.wrap-line {
    height:1em;
}


table.gameOfLife {
    margin-bottom: 0;
}

.gameOfLife p {
    line-height: 1em;
    width: 1em;
}

.gameOfLife td {
    background-color:white;
    line-height: 1em;
    padding: 0;
    color: white;
}

.gameOfLife td .hide-text {
    color: white;
}

.gameOfLife td .show-text {
    color: black;
}

.gameOfLife td .dead {
    color: white;
}

.gameOfLife td .alive {
    background-color:black;
    color: black;
}

</style>
++++